$transition-time: 0.2s;

.transition {
  transition:
    opacity $transition-time linear,
    visibility $transition-time linear;
}

.transition-transform {
  transition: transform $transition-time linear;
}
