@import "../main/variables";
/* OS X 黑體 */
@font-face {
  font-family: CustomSTHeitiTC;
  src: local("STHeitiTC-Light");
}
/* Latin characters */
@font-face {
  font-family: CustomSTHeitiTC;
  unicode-range: U+00-024F;
  src: local(Roboto);
}
@font-face {
  font-family: CustomSTHeitiSC;
  src: local("STHeitiSC-Light");
}
/* Latin characters */
@font-face {
  font-family: CustomSTHeitiSC;
  unicode-range: U+00-024F;
  src: local(Roboto);
}

/* Windows 正黑體 */
@font-face {
  font-family: CustomJhengHei;
  src: local("Microsoft JhengHei");
}
/* Latin characters */
@font-face {
  font-family: CustomJhengHei;
  unicode-range: U+00-024F;
  src: local(Roboto);
}

body {
  font-family: "CustomSTHeitiTC", "CustomSTHeitiSC", "CustomJhengHei", serif;
}

.fixed-top-horizontal-scroll {
  min-height: initial !important;
  -ms-overflow-style: none;
}

.col-card {
  position: relative;
  width: 448px;
  max-width: 448px;
}
.col-center {
  margin: 0 auto;
  width: 720px;
}

.pr-24 {
  padding-right: 24px;
}
.pl-24 {
  padding-left: 24px;
}

.rounded-circle-right {
  border-top-right-radius: 50rem !important;
  border-bottom-right-radius: 50rem !important;
}

.text-gray-700 {
  color: $gray-700; // #495057
}
.text-size-12 {
  font-size: 12px !important;
}
.text-size-14 {
  font-size: 14px !important;
}
.text-size-16 {
  font-size: 16px !important;
}
.text-size-20 {
  font-size: 20px !important;
}
.text-size-24 {
  font-size: 24px !important;
}

.modal-600 {
  max-width: 600px;
}

.main-content {
  padding-top: $top-navigation-height;
  padding-left: $left-navigation-width;
  background-color: #F2F2F2;
  min-height: 100vh;
  overflow: auto;
  &.left-menu-active {
    padding-left: $left-navigation-width + $left-sub-navigation-width;
  }
  &.sub {
    padding-top: $top-navigation-height + $top-sub-navigation-height;
  }
}

.bg-gray {
  background-color: #F2F2F2;
}

.select-wrapper {
  border-color: #CED4DA;
  cursor: pointer;
  padding: 0 8px;
  select {
    cursor: pointer;
    min-width: 160px;
    box-shadow: none !important;
  }

  // Overwrite for firefox.
  @-moz-document url-prefix() {
    padding: 0 13px 0 0;
    select {
      -moz-appearance: none;
      background-image: url("../resource/select-icon.svg");
      background-position: right center;
      background-repeat: no-repeat;
    }
  }
}

.has-feedback {
  position: relative;
  .form-control {
    padding-right: 40px;
  }
  .form-control + .form-control-feedback {
    position: absolute;
    right: 15px;
    top: 45px;
  }
}

.video-wrapper {
  position: relative;
  .cover {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    width: 100%;
    height: calc(100% - 48px);
    top: 0;
    left: 0;
    transition: 0.3s;
    .btn-play {
      background-color: rgba(255, 255, 255, 0.5);
      padding: 0 0 0 10px;
      border-radius: 50rem;
      border: none;
      font-size: 60px;
      width: 140px;
      height: 140px;
      transition: 0.3s;
    }
    &.pause {
      visibility: hidden;
      opacity: 0;
      .btn-play{
        transform: scale(2);
      }
    }
  }
  .controls {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 100%;
    height: 48px;
    bottom: 0;
    padding: 0 16px;
    .btn-action {
      color: #fff;
      background-color: transparent;
      border: none;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .draggable-wrapper {
    &:focus{
      .draggable-cover{
        border-color: red !important;
      }
    }
    .border-black {
      .draggable-cover {
        border: 4px #000 solid;
        background-color: rgba(0, 0, 0, 0.6);
      }
      .left-top-point, .left-bottom-point, .right-top-point, .right-bottom-point {
        border: 1px #000 solid;
      }
    }
    .border-purple {
      .draggable-cover {
        border: 4px #7D3F98 solid;
        background-color: rgba(125, 63, 152, 0.5);
      }
      .left-top-point, .left-bottom-point, .right-top-point, .right-bottom-point {
        border: 1px #7D3F98 solid;
      }
    }
    .border-green {
      .draggable-cover {
        border: 2px #76FF00 solid;
        background-color: rgba(118, 255, 0, 0.5);
      }
      .left-top-point, .left-bottom-point, .right-top-point, .right-bottom-point {
        border: 1px #76FF00 solid;
      }
    }

    .draggable-cover {
      position: absolute;
      cursor: move;
      transition: border-color 0.2s;

      .description {
        position: absolute;
        top: calc(50% - 10px);
        width: 100%;
        text-align: center;
        color: #fff;
      }
    }
    .left-top-point, .left-bottom-point, .right-top-point, .right-bottom-point {
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: #fff;
    }
    .left-top-point {
      cursor: nwse-resize;
    }
    .left-bottom-point {
      cursor: nesw-resize;
    }
    .right-top-point {
      cursor: nesw-resize;
    }
    .right-bottom-point {
      cursor: nwse-resize;
    }
  }
}

.datepicker-wrapper, .datepicker-group {
  > .btn {
    position: relative;
    border: none;
    height: 40px;
    background-color: #f2f2f2;
    transition: background-color 0.25s linear;
    &.triple-wrapper {
      border: 1px solid $secondary;
    }
    &.date {
      border-radius: 50rem;
      margin-left: 15px;
      margin-right: 15px;
      &.active, &:hover {
        background-color: #E5F5FF;
        &::before {
          border-color: #E5F5FF #E5F5FF #E5F5FF transparent;
        }
      }
    }
    &.start-date {
      border-top-left-radius: 50rem;
      border-bottom-left-radius: 50rem;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: #f2f2f2 10px solid;
        transition: border-left 0.25s linear;
        right: -10px;
      }
      &.active, &:hover {
        background-color: #E5F5FF;
        &::after {
          border-left: #E5F5FF 10px solid;
        }
      }
    }
    &.end-date {
      border-top-right-radius: 50rem;
      border-bottom-right-radius: 50rem;
      margin-left: 15px;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        border-width: 20px 0 20px 10px;
        border-style: solid;
        border-color: #f2f2f2 #f2f2f2 #f2f2f2 transparent;
        transition: border-color 0.25s linear;
        left: -10px;
      }
      &.active, &:hover {
        background-color: #E5F5FF;
        &::before {
          border-color: #E5F5FF #E5F5FF #E5F5FF transparent;
        }
      }
    }
  }
  .form-row {
    .btn.rounded-circle {
      width: 40px;
      height: 40px;
      padding: 0;
    }
  }
  .datepicker {
    @extend .shadow-sm;
    position: absolute;
    width: 304px;
    padding: 0;
    background-color: #fff;
    z-index: 1051;
    border-radius: 8px;
    .form-group {
      padding: 10px 40px;
      margin: 0;
      border-bottom: 1px #E6E6E6 solid;
    }
    .calendar {
      padding: 10px 40px 32px 40px;
      .date-selector {
        color: #1A1A1A;
      }
      .previous-month, .next-month {
        color: rgba(26, 26, 26, 0.54);
      }
      table {
        th, td {
          text-align: center;
          font-size: 12px;
          width: 32px;
          height: 32px;
        }
        thead th {
          color: rgba(0, 0, 0, 0.5);
        }
        tbody td {
          cursor: pointer;
          a {
            color: #000;
            text-decoration: none;
          }
          &.active {
            a {
              @extend .rounded-circle;
              color: #fff;
              display: inline-block;
              width: 28px;
              height: 28px;
              line-height: 28px;
              background-color: $primary;
            }
          }
          &.disabled {
            color: rgba(0, 0, 0, 0.5);
            cursor: default;
          }
        }
      }
    }
    .time-selector {
      padding: 72px 24px;
      .divider {
        position: absolute;
        z-index: -1;
        bottom: 80px;
        width: 80px;
        height: 40px;
        border-top: 1px $primary solid;
        border-bottom: 1px $primary solid;
      }
      .item-container {
        height: 200px;
        overflow-x: hidden;
        overflow-y: scroll;
        .item {
          display: block;
          text-align: center;
          height: 40px;
          line-height: 40px;
        }
      }
    }
  }
}

.table.custom-style {
  margin-bottom: 0;
  thead {
    text-transform: uppercase;
    > tr {
    border-radius: 8px;
      > th {
        border: none;
      }
    }
  }
  tbody > tr {
    &:first-child {
      td {
        border: none;
      }
    }
    > td {
      padding-top: 16px;
      padding-bottom: 16px;
      height: 80px;
    }
  }
  tr > th, td {
    @extend .align-middle;
    padding-left: 32px;
    padding-right: 32px;
    color: #666;
    div {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  td, td.group-btn {
    button, a {
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
}

.avatar-uploader {
  padding-bottom: 16px;
  margin-bottom: 25px;
  border-bottom: 1px #DEE2E6 solid;

  .avatar-wrapper {
    cursor: pointer;
    position: relative;
    display: block;
    margin: 0 auto;
    width: 128px;
    height: 128px;
    overflow: hidden;
    .avatar-img {
      width: 128px;
      height: 128px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
    .avatar-mask {
      position: absolute;
      top: 0;
      pointer-events: none;
    }
  }

  .slider {
    width: 160px !important;
  }
}

$chips-sum-extra-width: 50px;
.chips-wrapper {
  display: flex;
  width: calc(100% - #{$notify-card-btn-delete-height});
  height: 32px;
  padding: 4px 0px;
  .chips {
    width: calc(100% - #{$chips-sum-extra-width});
  }
  .chips-sum-extra {
    width: $chips-sum-extra-width;
  }
  .chips, .chips-sum-extra {
    > span {
      width: calc(#{$chips-sum-extra-width} - 8px);
      margin-right: 8px;
      padding: 2px 12px;
      font-size: 14px;
      overflow-wrap: normal;
    }
  }
}

.pagination {
  height: 34px;
  .page-item {
    > .page-input, .page-link.go {
      border-radius: 0.25rem;
    }
    > .page-link {
      line-height: 1;
      &.prev {
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
      }
      &.next {
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
      }
    }
    > .page-input {
      height: 100%;
      width: 36px;
      margin: 0px 12px;
      border: 1px solid #dee2e6;
      text-align: center;
    }
  }
}

// FOTA processing modal variables
$stage-border-width: 1px;
$finish-border-draw-width: 2px;
$finish-border-width: $finish-border-draw-width + 8px;
$stage-connector-width: 2px;
$stage-spacer: 32px;

// FOTA processing modal
.stage-progress{
  position: relative;
  line-height: 3rem;
  margin-bottom: $stage-spacer;
  padding: $finish-border-draw-width;
  border: $stage-border-width solid $secondary-300;
  border-radius: 1rem;

  .rounded-border-container {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 0.8rem;
  }

  &:after {
    content: '';
    height: $stage-spacer + $stage-border-width;
    margin-left: 2.3rem;
    position: absolute;
    bottom: -($stage-spacer + $stage-border-width);
    border: none;
    border-left: $stage-connector-width solid $secondary-300;
  }

  // Remove connecting line between stages from the last one
  &:last-child:after {
    border: none;
  }

  &.draw {
    // Stage finish green border
    &:before {
      content:"";
      z-index: -1;
      position: absolute;
      top:0;
      right:0;
      left:0;
      bottom:0;
    }

    &:not(:last-child):after {
      transition: 1s;
      transition-delay: 2.25s;
      border-left: $stage-connector-width solid #2bb341;
    }

    background-image: 
    linear-gradient(#2bb341, #2bb341), 
    linear-gradient(#2bb341, #2bb341), 
    linear-gradient(#2bb341, #2bb341), 
    linear-gradient(#2bb341, #2bb341);
  
    background-position: 0 0, 0 0, 0 100%, 0 100%;
    background-size: $finish-border-width 0%, 0% $finish-border-width, 0% $finish-border-width, $finish-border-width 0%;
    background-color:transparent;
    background-repeat:no-repeat;
    animation: animate-finish 1s forwards;
    animation-timing-function: linear;
    animation-delay: 0.5s;

    @keyframes animate-finish {
      0% {
      background-position: 0 100%, 0 0, 0 100%, 100% 0;
      background-size: $finish-border-width 0%, 0% $finish-border-width, 0% $finish-border-width,$finish-border-width 0%;
      }
      45% {
      background-position: 0 100%, 0 0, 0 100%, 100% 0;
      background-size: $finish-border-width 0%, 100% $finish-border-width, 0% $finish-border-width,$finish-border-width 0%;
      }
      50% {
      background-position: 0 100%, 100% 0, 100% 100%, 100% 0;
      background-size: $finish-border-width 0%, 100% $finish-border-width, 0% $finish-border-width,$finish-border-width 100%;
      }
      95% {
      background-position: 0 100%, 100% 0, 100% 100%, 100% 100%;
      background-size: $finish-border-width 0%, 100% $finish-border-width, 100% $finish-border-width,$finish-border-width 100%
      }
      100% {
      background-position: 0 100%, 100% 0, 0% 100%, 100% 100%;
      background-size: $finish-border-width 100%, 100% $finish-border-width, 100% $finish-border-width,$finish-border-width 100%;
      }
    }
  }

  .progress-percentage {
    position: absolute;
    right:0;
    margin-right: 1rem;
  }

  .progress-title {
    color: $secondary-500;
  }

  .divider {
    border: none;
    height: 2.5rem;
    width: 1rem;
    padding: 0 0.5rem;
    margin-right: 1rem;
    border-right: $stage-border-width solid $secondary-300;
    background-size: 0 0%, 0% $finish-border-width, 0% $finish-border-width, $finish-border-width 0%;
  }

  // Progress status icon
  .loading-spinners {
    margin: 0 1.5rem;
    width: $progress-stage-icon-size;
    height: $progress-stage-icon-size;
    position: relative;

    // Finished checkmark
    .checkmark {
      position: absolute;
      left: 0;
      width: $progress-stage-icon-size;
      height: $progress-stage-icon-size;
      border-radius: 50%;
      stroke-width: 2;
      stroke: #fff;
      stroke-miterlimit: 10;
      box-shadow: inset 0px 0px 0px #7ac142;
      animation: check-fill 0.4s ease-in-out 0.4s forwards, check-scale 0.3s ease-in-out 0.9s both;
      display: none;
      &.show {
        display: block;
      }
      .checkmark-circle {
        stroke-dasharray: 166;
        stroke-dashoffset: 166;
        stroke-width: 2;
        stroke-miterlimit: 10;
        stroke: #7ac142;
        fill: none;
        animation: check-stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
      }

      .checkmark-check {
        transform-origin: 50% 50%;
        stroke-dasharray: 48;
        stroke-dashoffset: 48;
        animation: check-stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
      }
      @keyframes check-stroke {
        100% {
          stroke-dashoffset: 0;
        }
      }
      @keyframes check-scale {
        0%, 100% {
          transform: none;
        }
        50% {
          transform: scale3d(1.1, 1.1, 1);
        }
      }
      @keyframes check-fill {
        100% {
          box-shadow: inset 0px 0px 0px 30px #7ac142;
        }
      }
    }

    // Failed Crossmark
    .crossmark {
      width: $progress-stage-icon-size;
      height: $progress-stage-icon-size;
      border-radius: 50%;
      display: block;
      stroke-width: 2;
      stroke: #fff;
      stroke-miterlimit: 10;
      margin: 10% auto;
      box-shadow: inset 0px 0px 0px red;
      animation: cross-fill 0.4s ease-in-out 0.4s forwards, cross-scale 0.3s ease-in-out 0.9s both;
      display: none;
      &.show {
        display: block;
      }
    }
    .crossmark-circle {
      stroke-dasharray: 166;
      stroke-dashoffset: 166;
      stroke-width: 2;
      stroke-miterlimit: 10;
      stroke: red;
      fill: none;
      animation: cross-stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
    }
    .crossmark-cross {
      transform-origin: 50% 50%;
      stroke-dasharray: 29;
      stroke-dashoffset: 29;
      animation: cross-stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
    }
    @keyframes cross-stroke {
      100% {
        stroke-dashoffset: 0;
      }
    }
    @keyframes cross-scale {
      0%, 100% {
        transform: none;
      }
      50% {
        transform: scale3d(1.1, 1.1, 1);
      }
    }
    @keyframes cross-fill {
      100% {
        box-shadow: inset 0px 0px 0px 30px red;
      }
    }

    // Loading spinner
    .loading-dots {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      transition: ease-out 1s;
      transition-delay: 0.3s;

      &.hide-loading {
        opacity: 0;
        transition: ease-out 0.6s;
        .double-bounce1, .double-bounce2 {
        transition: ease-out 0.3s;
          background-color: #7ac142;
        }
      }

      .spinner {
        width: $progress-stage-icon-size;
        height: $progress-stage-icon-size;
        position: relative;
      }
      
      .double-bounce1, .double-bounce2 {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: $info;
        opacity: 0.5;
        position: absolute;
        top: 0;
        left: 0;
        
        -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
        animation: sk-bounce 2.0s infinite ease-in-out;
      }
      
      .double-bounce2 {
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s;
      }
      
      @-webkit-keyframes sk-bounce {
        0%, 100% { -webkit-transform: scale(0.0) }
        50% { -webkit-transform: scale(1.0) }
      }
      
      @keyframes sk-bounce {
        0%, 100% { 
          transform: scale(0.0);
          -webkit-transform: scale(0.0);
        } 50% { 
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
        }
      }
    }
  }
}

/* Hide scrollbar but keep functionality */
.hidden-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE and Edge */
  -ms-overflow-style: none;
}
