body.en-us {
  .zh-tw,
  .zh-cn,
  .ja,
  .es {
    display: none !important;
  }
}

body.zh-tw {
  .en,
  .zh-cn,
  .ja,
  .es {
    display: none !important;
  }
}

body.zh-cn {
  .en,
  .zh-tw,
  .ja,
  .es {
    display: none !important;
  }
}

body.ja-jp {
  .en,
  .zh-tw,
  .zh-cn,
  .es {
    display: none !important;
  }
}

body.es-es {
  .en,
  .zh-tw,
  .zh-cn,
  .ja {
    display: none !important;
  }
}
