.navbar {
  background-color: #fff;
  height: $top-navigation-height;
  padding: 8px 16px;
  box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, .2);
  &.primary {
    background-color: $primary-500;
    box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, .4);
  }
  &.sub {
    height: $top-sub-navigation-height;
    margin-left: $left-navigation-width;
    margin-top: $top-navigation-height;
    padding: 0;
    .nav-tabs {
      padding: 0px 24px;
    }
  }
}
nav.navbar.fixed-top {
  z-index: 1031;
  &.sub {
    z-index: 1030;
  }
}
.fixed-top {
  z-index: 1030;
  &.sub {
    z-index: 1029;
  }
}

.left-navigation {
  padding-top: $top-navigation-height;
  width: $left-navigation-width;
  height: 100vh;
  -ms-overflow-style: none;
  overflow-y: scroll;
  background-color: $primary;

  .btn {
    width: 64px;
    height: 64px;
    margin: 0 8px 16px 8px;
    display: block;
    border-radius: 8px;
    &:first-child {
      margin-top: 8px;
    }

    &:hover, &.active {
      background-color: $primary-700;
    }

    img {
      width: 32px;
      height: 32px;
    }
  }
}

.left-menu {
  padding-top: $top-navigation-height;
  margin-left: $left-navigation-width;
  width: $left-sub-navigation-width;
  height: 100vh;
  -ms-overflow-style: none;
  overflow-y: scroll;
  background-color: #666;
  color: #fff;

  &.sub {
    padding-top: $top-navigation-height + $top-sub-navigation-height;
    background-color: #FAFAFA;
    color: $secondary-500;
  }

  h2 {
    font-size: 22px;
    line-height: 40px;
    font-weight: 700;
    color: inherit;
    margin-bottom: 0;
    padding: 20px 24px;
  }

  .text-truncate {
    font-size: 20px;
  }

  hr {
    border-color: #DEE2E6;
  }

  .groups {
    color: inherit;
    h3 {
      padding-left: 16px + 24px;
      margin: 0;
      font-size: 20px;
    }
    .group-item {
      padding: 12px 16px 12px 16px + 24px;
      a {
        color: inherit;
        text-decoration: none;
      }
      .btn-delete {
        @extend .transition;
        visibility: hidden;
        opacity: 0;
      }
      &:hover {
        .btn-delete {
          visibility: visible;
          opacity: 1;
        }
      }
      &.active {
        background-color: #4D4D4D;
        padding-right: 8px;
        border-right: 8px solid $primary;
      }
    }
    .actions {
      padding: 0 32px;
    }
  }

  .filter-wrapper {
    margin: 0 16px;
    .header {
      padding: 8px;
      margin-bottom: 16px;
      border-bottom: 1px #ccc solid;
      color: inherit;
      a {
        color: inherit;
      }
    }
    .card {
      border: none;
      &.active .card-header {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
      .card-header {
        background-color: #4D4D4D;
        border-radius: 8px;
        padding: 10px 16px;
        border: none;
        font-size: 14px;
        line-height: 24px;
        a {
          color: inherit;
        }
        .badge {
          padding: 6px 10px;
          margin-left: 16px;
        }
      }
      .card-body {
        background-color: #4D4D4D;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        border-top: 1px #666 solid;
        padding: 16px;
        font-size: 14px;
        color: inherit;
        .form-check-label {
          color: inherit;
        }
      }
    }
  }

  .nav {
    .accordion {
      @extend .w-100, .text-truncate;
    }
    a.nav-link {
      @extend .w-100, .text-truncate;
      font-size: 20px;
      line-height: 40px;
      color: inherit;
      padding: 20px 24px;
      i {
        @extend .transition-transform;
      }
      &.active {
        background: #4d4d4d;
        border-right: 8px solid $primary;
        border-radius: 0;
        &.collapse {
          border-right: none;
        }
      }
      &.collapsed {
        .fa-chevron-up {
          transform: rotate(180deg);
        }
      }
    }
    .collapsing, .collapse {
      a {
        &.active {
          background-color: #1A1A1A;
        }
        background-color: #333333;
        padding-left: 48px;
      }
    }
  }
}