$top-table-height: 32px;
$top-navigation-height: 56px;
$top-sub-navigation-height: 48px;
$left-navigation-width: 80px;
$left-sub-navigation-width: 240px;
$notify-card-btn-delete-height: 48px;
$license-status-height: 272px;
$license-status-top-offset: -215px;
$progress-stage-icon-size: 1.75rem;

// Colors
$primary-100: #e5f5ff;
$primary-300: #67afdd;
$primary-500: #4991bf;
$primary-700: #34698a;
$secondary-50: #f2f2f2;
$secondary-100: #eee;
$secondary-300: #cfcfcf;
$secondary-400: #aeaeae;
$secondary-500: #707070;
$secondary-700: #212121;
$select: #007bff;
$disable: #e6e9ec;
