$top-navigation-height: 56px;
$top-sub-navigation-height: 48px;
$left-navigation-width: 80px;
$left-sub-navigation-width: 240px;
$notify-card-btn-delete-height: 48px;
$license-status-height: 272px;
$license-status-top-offset: -215px;

// Colors
$primary-100: #E5F5FF;
$primary-300: #67AFDD;
$primary-500: #4991bf;
$primary-700: #34698A;
$secondary-50: #F2F2F2;
$secondary-100: #EEEEEE;
$secondary-300: #CFCFCF;
$secondary-400: #AEAEAE;
$secondary-500: #707070;
$secondary-700: #212121;
$select: #007bff;
$disable: #E6E9EC;
