$navigation-height: 56px;
$notify-card-btn-delete-height: 48px;

// Colors
$primary-100: #BBDEFB;
$primary-300: #5179D3;
$primary-500: #034EA1;
$primary-700: #002772;
$secondary-50: #F2F2F2;
$secondary-100: #EEEEEE;
$secondary-300: #CFCFCF;
$secondary-400: #AEAEAE;
$secondary-500: #707070;
$secondary-700: #212121;
$active: #007bff;
