@import "../shared/gotham-base64.scss";

.error-page {
  .row {
    background-color: #fff;

    .motion-blur {
      height: 48px;
      width: 235px;
    }
  }

  .message-container {
    white-space: nowrap;
    overflow: hidden;
    font-family:
      "Roboto",
      serif;

    .message-status {
      font-family:
        "Gotham-Bold",
        serif;
      font-weight: bold;
      font-size: 108px;
      color: $secondary-400;
      line-height: 120px;
    }

    .message-title {
      font-size: 50px;
    }
  }

  .icons > img {
    margin: 0 16px;
  }
}
