.error-page {
  min-width: 320px;
  padding-top: 320px;
  background-size: contain;
  background-position: center top;
  &.error-404 {
    background-image: url("../resource/error-404-bg.png");
  }
  &.error-500 {
    background-image: url("../resource/error-500-bg.png");
  }

  .row {
    min-height: calc(100vh - 320px);
    background-color: #fff;
  }
  .message-container {
    white-space: nowrap;
    overflow: hidden;
    font-family: "Roboto", serif;
    .message-status {
      font-weight: bold;
      font-size: 108px;
      color: $secondary-400;
      line-height: 120px;
    }
    .message-title {
      font-size: 50px;
    }
    .btn {
      width: 10rem;
    }
  }
  .icons > img {
    margin: 0 16px;
  }
}
