.sdcard {
  hr {
    margin-top: 8px;
  }

  & > .border {
    border-radius: 0.75rem;
  }

  .form-group {
    .card {
      border-radius: 8px;

      .sd-card-round {
        border-radius: 8px 8px 0 0;
        background-color: $secondary;
        color: #707070;
      }
    }
  }
}

.dot-sd {
  margin-bottom: 0.5rem;
  margin-right: 0.2rem;
  height: 0.5rem;
  width: 0.5rem;
  background-color: #f00;
  border-radius: 50%;
  display: inline-block;
}

.sd-fr-codec {
  background-color: #f0f0f0;
  padding: 8px;
  border-radius: 4px;
  width: 100%;

  .fr-codec-label {
    color: #666;
  }
}

// sd-card-storage
.sdcard-storage-table {
  height: calc(100vh - 300px);
  min-height: 20rem;

  .fa-file-video {
    color: #9c27b0;
  }

  .fa-file-image {
    color: $danger;
  }
}

.sd-path {
  i {
    color: #999;
  }
}
