.sdcard {

  hr {
    margin-top: 8px;
  }

  .form-group {
    
    .card {
      border-radius: 8px;

      .sd-card-round {
        border-radius: 8px 8px 0px 0px;
        background-color: $secondary;
        color: #707070;
      }
      
    }

  }

}