.page-security {
  padding: $top-table-height 33px;
  min-height: calc(100vh - #{$top-navigation-height});
  min-width: 800px;

  .card-body .card {
    border-radius: 8px;
  }

  .table .custom-style {
    th {
      color: #1a1a1a;
    }
  }

  .badge {
    color: #fff;

    &.badge-guest {
      background-color: $info;
    }

    &.badge-admin {
      background-color: $primary;
    }
  }
}
