.page-security {
  padding: 48px 33px;
  min-width: 1000px;
  min-height: calc(100vh - #{$navigation-height});

  .card-body .card {
    border-radius: 8px;
  }
  .actions {
    margin: 8px 0 32px;
  }
  .table.custom-style {
    th {
      color: #1A1A1A;
    }
  }
  .badge-guest {
    color: #fff;
    background-color: #808080;
  }
  .badge-admin {
    color: #fff;
    background-color: #34698A;
  }
}
