.page-welcome, .page-setup-language, .page-setup-account, .page-setup-https, .page-setup-done {
  min-height: 100vh;
  background-image: url("../resource/background-01.png");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;

  img.logo {
    position: absolute;
    margin: 40px 64px 0;
  }
  img.decoration {
    position: fixed;
    right: 140px;
    bottom: 65px;
    width: 679px;
  }
  .col-card {
    margin-top: 232px;
    width: 480px;
    max-width: 480px;
  }
  .steps {
    position: relative;
    margin-bottom: 20px;
    .d-flex {
      padding: 8px 8px 0 23px;
      font-size: 15px;
      font-weight: bold;
      p {
        margin-bottom: 0;
        color: #cccccc;
      }
    }
    img {
      margin-top: -20px;
      height: 80px;
    }
    .go-back {
      color: #cccccc;
      position: absolute;
      left: 0;
      bottom: 9px;
      padding: 15px 20px 15px 0;
      &:hover {
        color: $link-hover-color;
      }
    }
  }
  .card {
    border-radius: 16px;
    .card-body {
      padding: 24px;
    }
    .card-title {
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 38px;
    }
  }
}

.page-setup-language {
  button[type=submit] {
    margin-top: 400px;
  }
}
