.page-smart {
  padding: 48px 33px;
  min-width: 1000px;

  .card-body {
    hr {
      margin: 24px -8px;
    }
    .badge-outline {
      border-radius: 4px;
      background-color: $secondary-500;
      color: white
    }
  }
}
