.page-smart {
  padding: 48px 33px;
  min-width: 1000px;

  .card-body {
    hr {
      margin: 24px -8px;
    }

    .badge-outline {
      border-radius: 4px;
      background-color: $secondary-500;
      color: white;
    }
  }

  &.page-hd {
    padding: 0;
    height: calc(100vh - #{$top-navigation-height});

    .drawing-canvas-editor,
    .setting-panel {
      height: calc(100vh - #{$top-navigation-height});
      min-height: calc(750px + #{$top-navigation-height});
      min-width: 21rem;

      .title {
        color: $secondary-500;
        margin-bottom: 1.5rem;
      }

      .display-text-inputs {
        div.input-group {
          border-radius: 0.5rem;

          .color-block {
            padding-left: 0.25rem;
            height: 1rem;
            width: 1rem;
          }
        }
      }
    }

    .trigger-settings {
      .title {
        font-size: 1.2rem;
        height: 40px;
        display: flex;
        justify-content: start;
        align-items: center;
        margin-bottom: 0.5rem;
      }

      input[type=checkbox] {
        height: 1rem;
        width: 1rem;
      }

      label {
        font-size: 1rem;
      }
    }
  }
}
