.page-users {
  padding: calc(48px + #{$top-sub-navigation-height}) 33px;
  min-width: 640px;
  min-height: calc(100vh - #{$top-navigation-height});

  .card-body .card {
    border-radius: 8px;
  }

  .table.custom-style {
    th {
      color: #1a1a1a;
    }
  }

  .badge {
    color: #fff;

    &.badge-guest {
      background-color: $info;
    }

    &.badge-admin {
      background-color: $primary;
    }
  }
}
