.page-users {
  padding: 48px 33px;
  min-width: 1500px;
  min-height: calc(100vh - #{$top-navigation-height});

  .table {
    th {
      color: #1a1a1a !important;
      a {
        color: #1a1a1a;
      }
    }
    td {
      @extend .text-truncate;
    }
  }

  .dropdown {
    button:hover {
      color: #fff !important;
      background-color: #0049AD;
      border-color: #0049AD;
      i {
        color: #fff !important;
      }
    }
  }
}
