.page-users {
  // 48px is the height of the sub navbar
  min-height: calc(100vh - #{$top-navigation-height + 48px});
  min-width: 800px;

  .card-body .card {
    border-radius: 8px;
  }

  .badge {
    color: #fff;

    &.badge-guest {
      background-color: $info;
    }

    &.badge-admin {
      background-color: $primary;
    }
  }

  .users-table {
    height: calc(100vh - 240px);
  }
}
