<!DOCTYPE html>
<html lang="{{ htmlLang }}">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title>{{ cameraName }} Web-Manager</title>

  <% if @isDebug : %>
    <link type="text/css" rel="stylesheet" href="//localhost:8002/web.css"/>
  <% else : %>
    <link type="text/css" rel="stylesheet" href="/assets/web.css"/>
  <% end %>
  <script type="text/javascript">
    function base64DecodeUnicode(text) {
      // Going backwards: from bytestream, to percent-encoding, to original string.
      return decodeURIComponent(atob(text).split('').map(function (c) {
        return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
      }).join(''));
    }
    window.config = JSON.parse(base64DecodeUnicode('{{ archive config }}'));
    window.user = JSON.parse(base64DecodeUnicode('{{ archive user }}'));
    window.currentLanguageCode = '{{ languageCode }}';
    window.cameraName = JSON.parse(base64DecodeUnicode('{{ archive cameraName }}'));
    window.error = JSON.parse(base64DecodeUnicode('{{ archive error }}'));
  </script>
</head>
<body>
<div id="root">
  <div class="page-loading d-flex justify-content-center align-items-center">
    <div class="spinner-container">
      <div class="spinner-wrapper text-primary">
        <div class="spinner-border">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div class="description">
        <p>{{ loadingText }}<span class="dotty"></span></p>
      </div>
    </div>
  </div>
</div>
<% if @isDebug : %>
  <script type="text/javascript" src="//localhost:8002/{{ languageCode }}.js"></script>
  <script type="text/javascript" src="//localhost:8002/web.js"></script>
<% else : %>
  <script type="text/javascript" src="/assets/{{ languageCode }}.js"></script>
  <script type="text/javascript" src="/assets/web.js"></script>
<% end %>
</body>
</html>
