<!DOCTYPE html>
<html lang="en">
<head>
  <title>Web-Manager</title>
  <script type="text/javascript">
    function base64DecodeUnicode(text) {
      // Going backwards: from bytestream, to percent-encoding, to original string.
      return decodeURIComponent(atob(text).split('').map(function (c) {
        return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
      }).join(''));
    }
    window.currentLanguageCode = 'en';
    window.config = {
      languages: ['en'],
      isDebug: true,
      cookies: {
        redirect: 'redirect',
        language: 'lang'
      }
    };
    window.user = {
      id: 1,
      account: 'admin',
      permission: '0'
    };
    window.isDebug = 'true';
  </script>
</head>
<body class="en">
<div id="root">
  <div class="page-loading d-flex justify-content-center align-items-center">
    <div class="spinner-container">
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
      <div class="description">
        <p class="mt-4">Loading</p>
      </div>
    </div>
  </div>
</div>
</body>
</html>
